@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    --blue-color: #6b99be;
    --orange-color: #f6af33;
    --indigo-color: #9683ec;
}

header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blue-color);
    padding: 1.5em 0;
    width: 100%;
    font-family: 'Noto Sans', sans-serif;
    z-index: 500;
}

.logo {
    display: flex; /* pentru ca "InDependenta" sa nu stea dedesubtul logo-ului */
    align-items: center;
    margin-left: 0.5em;
    z-index: 10;
}
.name {
    font-size: 1.8em;
    margin-left: 0.3em;
}