@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    --blue-color: #6b99be;
    --orange-color: #f6af33;
    --indigo-color: #9683ec;
    --green-color: #4efc8e;
    --red-color: #ff5757;
    --yellow-color: #ffff80;
    font-family: 'Noto Sans', sans-serif;
}

header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blue-color);
    padding: 1.3em 0;
    width: 100%;
    z-index: 500;
}

.logo {
    display: flex; /* pentru ca "InDependenta" sa nu stea dedesubtul logo-ului */
    align-items: center;
    margin-left: 0.5em;
    z-index: 10;
}
.name {
    font-size: 1.8em;
    margin-left: 0.3em;
}

p a {
    font-size: 1em;
    color: var(--red-color);
}

.sidemenu ul {
    position: fixed;
    width: 15%;
    top: 13.5%;
    font-size: 1.2em;
    background-color: var(--red-color);
    padding-top: 2.5%;
    padding-left: 1.6%;
    height: 79vh;
    z-index: 100;
}

article {
    position: relative;
    left: 15%;
    top: 5.5em;
    margin-left: 2.5em;
}

.person, .company {
    background-color: #9683ecc5;
    width: 80vw;
    border-radius: 30px;
    padding: 2.5em;
}

.company {
    margin-top: 0.3em;
}

.linie {
    height: 5px;
    background-color: var(--red-color);
    border-radius: 3px;
    width: 20em;
}

h3 {
    padding: 1em 0;
}

p {
    padding-bottom: 1em;
}